:root {
  --primary-color: #12c2b9;
  --secondary: #dbfffe;
  --black: #141414;
  --white: #fff;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.container-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-blog {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 3rem;
  color: black;
}
.container-blog h1 {
  color: var(--primary-color);
}
.blog-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 5rem;
}

.blog-list li {
  padding: 1rem;
  width: 350px;
  text-decoration: none;
  list-style: none;
  background-color: var(--secondary);
  box-shadow: 8px 10px 13px 1px gray;
}
.blog-list .img-blog {
  width: 250px;
  height: 150px;
  margin: 1rem;
}
.blog-list a {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
}
@media screen and (max-width: 600px) {
  /* Aquí puedes agregar los estilos específicos para pantallas con un ancho máximo de 600px */
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Aquí puedes agregar los estilos específicos para pantallas con un ancho entre 601px y 1024px */
}

@media screen and (min-width: 1025px) {
  .blog-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
  .blog-list li {
    padding: 1rem;
    width: 600px;
    text-decoration: none;
    list-style: none;
    background-color: var(--secondary);
    box-shadow: 8px 10px 13px 1px gray;
  }
  .blog-list .img-blog {
    width: 350px;
    height: 300px;
    margin: 1rem;
  }

  /* Aquí puedes agregar los estilos específicos para pantallas con un ancho mínimo de 1025px */
}
