:root {
  --primary-color: #12c2b9;
  --secondary: #dbfffe;
  --black: #141414;
  --white: #fff;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
footer {
  color: gray;
  background-color: var(--secondary);
  bottom: 0;
  box-shadow: 1px 0px 17px 0px gray;
}
.container-footer {
  margin-left: 10rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.footer-colunm1 {
  justify-content: space-between;
}
.footer ul {
  list-style: none;
}
.colunm2 {
  text-align: center;
}

.imgSocial {
  opacity: 70%;
  width: 25px;
}
.icon-social-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}
.icon-social-container li {
  width: 100%;
}
.container-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 100px;
}
.copyrigth {
  text-align: center;
  border-top: 1px solid gray;
}
